<nav class="d-flex justify-content-between">
    <a class="navbar-brand fs-4 fw-bold" href="/">Matthew Sutanto</a>
    <div class="d-flex align-items-center">
        {# <a class="mx-2 nav-link {{ 'text-decoration-underline' if page == 'home' else '' }}" href="/">Home</a> #}
        <a class="mx-2 nav-link {{ 'text-decoration-underline' if page == 'blog' else '' }}" href="/">Blog</a>
        <a class="mx-2 nav-link {{ 'text-decoration-underline' if page == 'resume' else '' }}" href="/resume">Resume</a>
    </div>
</nav>