@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$primary: #1A120B;
$secondary: #2e2018;
$tertiary: #936853;
$textColor: #E5E5CB;
$textColor2: #D5CEA3;
$fontPrimary: 'Poppins', sans-serif;