@import 'constants';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontPrimary;

    background-color: $primary;
    color: $textColor;
}

::selection {
    background-color: $textColor;
    color: $primary;
}

.navbar {
    background-color: $secondary !important;
    a {
        color: $textColor !important;
        transition: .5s;
        &:hover {
            color: #fff;
        }
    }
}

#wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "main" "footer";
    grid-template-rows: 1fr 50px;
}

main {
    grid-area: main;
    color: $textColor;
}