{% extends "layouts/app.html" %}

{% block title %}Home | Matthew Sutanto{% endblock title %}

{% block keywords %}{% endblock keywords %}

{% block description %}{% endblock description %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/index.css') }}">
{% endblock head %}

{% block body %}
<div id="content">
    <div class="col-sm-8 col-11 mx-auto">
        <h1 class="mt-5 fs-4 text-center mt-3 mb-5">Here are some of my thoughts about programming, tech, or life in general. Please enjoy!</h1>
    </div>

    {# <form action="" method="GET" class="input-group mb-4">
        <input type="search" class="form-control" name="q" placeholder="Search something..." value="{{ query or '' }}">
        <button class="btn btn-secondary input-group-text"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form> #}

    <div class="posts" style="list-style: decimal-leading-zero;">
        {% for post in posts %}
        <div class="mb-3 post card">
            <a class="text-center fs-4 fw-bold mb-3" href="/blog/{{ post.slug }}">{{ post.title }}</a>
            <p class="text-center m-0">{{ post.published_at or 'No publish date' }}</p>
            <p class="text-center m-0">{{ post.excerpt }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="pagination float-end">
        {% if prev_link != None %}
        <a href="{{ prev_link }}" class="btn text-decoration-underline">Prev</a>
        {% endif %}

        {% if next_link != None %}
        <a href="{{ next_link }}" class="btn text-decoration-underline">Next</a>
        {% endif %}
    </div>
</div>
{% endblock body %}